@import "./var.config.css";

page {
  font-size: var(--default-font-size);
  font-family: -apple-system-font, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
  width: 100vw;
  line-height: 1;
  /* NOTE: 仅在真机生效 */
  padding-bottom: env(safe-area-inset-bottom);
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

button {
  border-radius: 0;
}

button::after {
  border: none;
}

view {
  position: relative;
}

image {
  display: block;
}

.circle {
  border-radius: 50%;
}
